<div id="RightDownBtn">
    <a id="btn" href="javascript:void(0)" target="_self" style="" title="回到顶部">
        <svg style=" width: 1.5em;height: 1.5em;" class="icon" aria-hidden="true">
            <use xlink:href="#icon-xuanfufanhuidingbu">
                <svg id="icon-xuanfufanhuidingbu" viewBox="0 0 1024 1024">
                    <path d="M0 512c0 282.624 229.376 512 512 512s512-229.376 512-512S794.624 0 512 0 0 229.376 0 512z"
                        fill="#1989FA"></path>
                    <path
                        d="M736.768 263.68H287.232c-12.288 0-23.04 10.752-23.04 23.04s10.752 23.04 23.04 23.04H737.28c12.288 0 23.04-10.752 23.04-23.04s-10.752-23.04-23.552-23.04m-207.872 105.472c-1.536-1.536-4.608-4.608-7.68-4.608-3.072-1.536-6.144-1.536-7.68-1.536-3.072 0-6.144 0-7.68 1.536-3.072 1.536-4.608 3.072-7.68 4.608l-186.368 186.368c-9.216 9.216-9.216 23.04 0 32.768 9.216 9.216 23.04 9.216 32.768 0l145.92-145.92V737.28c0 12.288 10.752 23.04 23.04 23.04s23.04-10.752 23.04-23.04V442.368l145.92 145.92c4.608 4.608 10.752 6.144 16.896 6.144 6.144 0 12.288-1.536 16.896-6.144 9.216-9.216 9.216-23.04 0-32.768l-187.392-186.368z"
                        fill="#FFFFFF"></path>
                </svg>
            </use>
        </svg>
    </a>
    
    <a href="/guestbook" title="前往留言板" data-pjax-state="load">
        <svg style=" width: 1.5em;height: 1.5em;" class="icon" aria-hidden="true">
            <use xlink:href="#icon-liuyan">
                <svg id="icon-liuyan" viewBox="0 0 1174 1024">
                    <path d="M969.824632 371.467641q-1.209634 17.154811-3.665558 34.163a382.537626 382.537626 0 0 1-371.650919 340.310398h-60.884917l-10.996674 11.619819a237.381532 237.381532 0 0 0 207.690513 128.734394h60.518361l119.717122 124.995526a40.027893 40.027893 0 0 0 68.9858-27.638307v-102.1591a263.040437 263.040437 0 0 0-9.567106-509.989075z" fill="#FE752E" p-id="2910"></path>
                    <path d="M909.122992 397.419791a372.274063 372.274063 0 0 0 4.142081-53.297212c0-189.729279-142.956759-344.122579-318.90354-344.122579H319.114788c-175.946781 0-318.90354 154.3933-318.90354 344.122579a336.095007 336.095007 0 0 0 263.443648 338.990797v145.082783a46.625897 46.625897 0 0 0 80.312375 32.25691l164.950106-172.281223h85.517467a325.354922 325.354922 0 0 0 314.688148-290.752055zM230.518253 237.748087h448.00449a24.04606 24.04606 0 0 1 0 48.055465H230.518253a24.04606 24.04606 0 0 1 0-48.055465z m268.978641 222.902578H230.518253a24.04606 24.04606 0 0 1 0-48.055464h268.978641a24.04606 24.04606 0 0 1 0 48.055464z" fill="#FE752E" p-id="2911"></path>
                </svg>
            </use>
        </svg>
    </a>
    
    <a href="/photos" title="前往相册" data-pjax-state="load">
        <svg style=" width: 1.5em;height: 1.5em;" class="icon" aria-hidden="true">
            <use xlink:href="#icon-photos">
                <svg id="icon-photos" viewBox="0 0 1024 1024">
                    <path d="M200.465608 973.432099H848.818342c79.463845 0 144.479718-65.015873 144.479718-144.479718V180.599647c0-79.463845-65.015873-144.479718-144.479718-144.479718H200.465608c-79.463845 0-144.479718 65.015873-144.479717 144.479718v648.352734c0 79.463845 65.015873 144.479718 144.479717 144.479718z" fill="#55B79D" p-id="5236"></path>
                    <path d="M847.012346 982.462081H200.465608c-84.881834 0-153.5097-68.627866-153.5097-153.5097V180.599647c0-84.881834 68.627866-153.5097 153.5097-153.5097H848.818342c84.881834 0 153.5097 68.627866 153.5097 153.5097v648.352734c-1.805996 84.881834-70.433862 153.5097-155.315696 153.5097zM200.465608 45.149912C126.419753 45.149912 65.015873 106.553792 65.015873 180.599647v648.352734c0 74.045855 61.40388 135.449735 135.449735 135.449735H848.818342c74.045855 0 135.449735-61.40388 135.449736-135.449735V180.599647c0-74.045855-61.40388-135.449735-135.449736-135.449735H200.465608z" fill="#333333" p-id="5237"></path>
                    <path d="M175.181658 944.536155c-1.805996 0-3.611993 0-5.41799-1.805996-3.611993-3.611993-3.611993-9.029982-1.805996-12.641976l242.003527-285.347442 189.62963 153.5097L760.324515 559.858907l231.167548 139.061728c3.611993 1.805996 5.417989 9.029982 3.611993 12.641975-1.805996 3.611993-9.029982 5.417989-12.641975 3.611993l-214.91358-130.031746-160.733686 240.197531L415.379189 670.024691l-232.973545 270.899471c-1.805996 3.611993-3.611993 3.611993-7.223986 3.611993z" fill="#333333" p-id="5238"></path>
                    <path d="M307.0194 507.485009m-63.209876 0a63.209877 63.209877 0 1 0 126.419753 0 63.209877 63.209877 0 1 0-126.419753 0Z" fill="#F1AA23" p-id="5239"></path>
                    <path d="M307.0194 579.724868c-39.731922 0-72.239859-32.507937-72.239859-72.239859s32.507937-72.239859 72.239859-72.239859 72.239859 32.507937 72.239859 72.239859-32.507937 72.239859-72.239859 72.239859z m0-124.613757c-28.895944 0-54.179894 23.477954-54.179894 54.179894s23.477954 54.179894 54.179894 54.179894 54.179894-23.477954 54.179895-54.179894-25.283951-54.179894-54.179895-54.179894z" fill="#333333" p-id="5240"></path>
                    <path d="M539.992945 296.183422m-93.911816 0a93.911817 93.911817 0 1 0 187.823633 0 93.911817 93.911817 0 1 0-187.823633 0Z" fill="#F1AA23" p-id="5241"></path>
                    <path d="M539.992945 399.12522c-55.985891 0-102.941799-46.955908-102.941799-102.941798s46.955908-102.941799 102.941799-102.941799 102.941799 46.955908 102.941799 102.941799-46.955908 102.941799-102.941799 102.941798z m0-187.823633c-46.955908 0-84.881834 37.925926-84.881834 84.881835s37.925926 84.881834 84.881834 84.881834 84.881834-37.925926 84.881835-84.881834-37.925926-84.881834-84.881835-84.881835z" fill="#333333" p-id="5242"></path>
                 </svg>
            </use>
        </svg>
    </a>
    <a onclick="switchNightMode()" title="切换暗黑模式">
        <svg style=" width: 1.5em;height: 1.5em;" class="icon" aria-hidden="true">
            <use id="modeicon" xlink:href="#icon-_moon">
            </use>
        </svg>
    </a>
    <svg aria-hidden="true" style="position: absolute; width: 0px; height: 0px; overflow: hidden;">
        <symbol id="icon-sun" viewBox="0 0 1024 1024">
            <path d="M792.35 835.94l-128.09-30.32c-17.73-4.2-36.12 3.66-45.34 19.37l-66.64 113.52c-15.83 26.97-54.67 27.4-71.1 0.79l-69.14-112.02c-9.57-15.5-28.13-22.95-45.76-18.36l-127.39 33.15c-30.26 7.88-58.03-19.29-50.83-49.72l30.32-128.09c4.2-17.73-3.66-36.12-19.37-45.34L85.49 552.28c-26.97-15.83-27.4-54.67-0.79-71.1l112.02-69.14c15.5-9.57 22.95-28.13 18.36-45.76l-33.15-127.39c-7.88-30.26 19.29-58.03 49.72-50.83l128.09 30.32c17.73 4.2 36.12-3.66 45.34-19.37l66.64-113.52c15.83-26.97 54.67-27.4 71.1-0.79l69.14 112.02c9.57 15.5 28.13 22.95 45.76 18.36l127.39-33.15c30.26-7.88 58.03 19.29 50.83 49.72l-30.32 128.09c-4.2 17.73 3.66 36.12 19.37 45.34l113.52 66.64c26.97 15.83 27.4 54.67 0.79 71.1l-112.02 69.14c-15.5 9.57-22.95 28.13-18.36 45.76l33.15 127.39c7.88 30.26-19.29 58.03-49.72 50.83z" fill="#FF7938" p-id="7633"></path>
            <path d="M512 512m-207.66 0a207.66 207.66 0 1 0 415.32 0 207.66 207.66 0 1 0-415.32 0Z" fill="#F7FF53" p-id="7634"></path>
            <path d="M442.78 468.74m-25.96 0a25.96 25.96 0 1 0 51.92 0 25.96 25.96 0 1 0-51.92 0Z" p-id="7635"></path>
            <path d="M581.22 468.74m-25.96 0a25.96 25.96 0 1 0 51.92 0 25.96 25.96 0 1 0-51.92 0Z" p-id="7636"></path>
            <path d="M442.78 582.02s17.31 48.31 69.22 48.31 69.22-48.31 69.22-48.31H442.78z" fill="#FF2929" p-id="7637"></path>
        </symbol>
        <symbol id="icon-_moon" viewBox="0 0 1024 1024">
            <path d="M512 512m-512 0a512 512 0 1 0 1024 0 512 512 0 1 0-1024 0Z" fill="#323232"></path>
            <path d="M135 511.2c0-107.9 66.5-194.3 155.1-237.5 29.2-14.2 41-18 38.1-7.3 55.2 43.9 84.3 67.8 99.5 80.6l45.7-6.7 31.8-64.4 3.2 6.5v-6.6l64.5 64h42.9l36 35.8 16.1-10.6 1.3-71.8 56.2 44.7 60.6-18.4 1.6-1.1 0.4 0.4 6.1-1.9-2.1 6.1 166.6 165.6C946.8 252 751.2 63.8 511.7 63.8c-243.2 0-441.1 194-447.3 435.7v23.4c6.2 240.6 202.2 433.9 443.8 435.7L298.1 749.8c-99-41.5-163.1-140-163.1-238.6zM959.1 511.2v-0.5c0 7-0.2 14-0.5 20.9 0.4-6.7 0.5-13.5 0.5-20.4zM574.9 954.2c-21.3 2.9-43.1 4.4-65.4 4.4h2.2c21.5 0.1 42.6-1.4 63.2-4.4z" fill="#10318E" p-id="10931"></path>
            <path d="M958.7 531.7c0.3-6.9 0.5-13.9 0.5-20.9v-0.2h0.2v-21.2l-0.8-0.8L792 323l-23.1 61.5 41.1 58.9-71.8-3.1-43.3 57.2-19.1-69.2-68-23.5 44-29-36-35.8h-42.9l-64.5-64v6.6l28.6 57.9 71.1 10.4-51.4 50.2 12.1 70.8-63.5-33.5-63.5 33.5 12.1-70.8-51.4-50.2 25.4-3.7c-15.2-12.8-44.3-36.7-99.5-80.6-1.5 5.6-6.9 15-16 28.9-16.1 24.7-22.1 64.8-22.1 86.4 0 107.9 88.7 194.3 199.5 194.3 44.3 0 110.8-43.1 133-64.8 44.2-43.1 44.2-43.1 44.2 0 0 129.5-110.8 259-265.9 259-37.1 0-71.7-7.4-102.8-20.5l210.2 208.9h1.2c22.3-0.1 44.1-1.6 65.4-4.4 216.6-29.2 374.2-199.6 383.6-422.7zM727 611.6l1.3-71.9 56.2 44.8 68.8-20.9-25.3 67.3 41.1 58.9-71.8-3.2-43.3 57.3-19.1-69.3-68-23.5 60.1-39.5zM787.6 318.6l-1.6 1.1 2.1-0.7z" fill="#001B66" p-id="10932"></path>
            <path d="M290.1 273.8C201.4 317 135 403.4 135 511.2c0 98.5 64.1 197 163.1 238.5 31.1 13 65.7 20.5 102.8 20.5 155.1 0 265.9-129.5 265.9-259 0-43.1 0-43.1-44.2 0-22.2 21.6-88.7 64.8-133 64.8-110.8 0-199.5-86.4-199.5-194.3 0-21.6 6-61.6 22.1-86.4 9-13.9 14.5-23.4 16-28.9 2.9-10.6-8.9-6.9-38.1 7.4zM788.1 319l-2.1 0.7-60.6 18.4-56.2-44.7-1.3 71.8-16.1 10.6-44 29 68 23.5 19.1 69.2 43.3-57.2 71.8 3.1-41.1-58.9L792 323l2.1-5.8z" fill="#E5EA28" p-id="10933"></path>
            <path d="M473.4 340.4l-45.7 6.7-25.4 3.7 51.4 50.1-12.1 70.8 63.6-33.4 63.5 33.4-12-70.8 51.3-50.1-71.1-10.4-28.5-57.9-3.2-6.5zM754 743.9l43.4-57.3 71.7 3.2-41.1-58.9 25.3-67.3-68.8 20.9-56.2-44.8-1.3 71.9-60 39.5 67.9 23.5z" fill="#E5EA28" p-id="10934"></path>
        </symbol>
    </svg>
</div>

<script>
    function music_on() {
        var audio1 = document.getElementById('bg_music');
        if (audio1.paused) {
            audio1.play();
        }else{
            audio1.pause();
            audio1.currentTime = 0;//音乐从头播放
        }
    }
    function BackTOP() {
        $("#btn").hide();
        $(function () {
            $(window).scroll(function () {
                if ($(window).scrollTop() > 50) {
                    $("#btn").fadeIn(200);
                } else {
                    $("#btn").fadeOut(200);
                }
            });
            $("#btn").click(function () {
                $('body,html').animate({
                        scrollTop: 0
                    },
                    500);
                return false;
            });
        });
        $(function () {
            $("#say").click(function () {
                $('body,html').animate({
                        scrollTop: $('html, body').get(0).scrollHeight
                    },
                    500);
                return false;
            });
        })
    }

    $('#readmode').click(function () {
            $('body').toggleClass('read-mode')
        })
        
    function SiderMenu() {
        $('#main-container').toggleClass('open');
        $('.iconflat').css('width', '50px').css('height', '50px');
        $('.openNav').css('height', '50px');
        $('#main-container,#mo-nav,.openNav').toggleClass('open')
    }

    function switchNightMode() {
        $('<div class="Cuteen_DarkSky"><div class="Cuteen_DarkPlanet"></div></div>').appendTo($("body")), setTimeout(
            function () {
                var DarkMode = document.cookie.replace(/(?:(?:^|.*;\s*)DarkMode\s*\=\s*([^;]*).*$)|^.*$/, "$1") ||
                    '0';
                (DarkMode == '0') ? ($("html").addClass("DarkMode"), document.cookie = "DarkMode=1;path=/", console
                    .log('夜间模式开启'), $('#modeicon').attr("xlink:href", "#icon-sun")) : ($("html").removeClass(
                        "DarkMode"), document.cookie = "DarkMode=0;path=/", console.log('夜间模式关闭'), $('#modeicon')
                    .attr("xlink:href", "#icon-_moon")), setTimeout(function () {
                    $(".Cuteen_DarkSky").fadeOut(1e3, function () {
                        $(this).remove()
                    })
                }, 2e3)
            }), 50
    }

    function checkNightMode() {
        if ($("html").hasClass("n-f")) {
            $("html").removeClass("day");
            $("html").addClass("DarkMode");
            $('#modeicon').attr("xlink:href", "#icon-sun")
            return;
        }
        if ($("html").hasClass("d-f")) {
            $("html").removeClass("DarkMode");
            $("html").addClass("day");
            $('#modeicon').attr("xlink:href", "#icon-_moon")

            return;
        }
        if (document.cookie.replace(/(?:(?:^|.*;\s*)DarkMode\s*\=\s*([^;]*).*$)|^.*$/, "$1") === '') {
            if (new Date().getHours() >= 22 || new Date().getHours() < 6) {
                $("html").addClass("DarkMode");
                document.cookie = "DarkMode=1;path=/";
                console.log('夜间模式开启');
                $('#modeicon').attr("xlink:href", "#icon-sun")
            } else {
                $("html").removeClass("DarkMode");
                document.cookie = "DarkMode=0;path=/";
                console.log('夜间模式关闭');
                $('#modeicon').attr("xlink:href", "#icon-_moon")
            }
        } else {
            var DarkMode = document.cookie.replace(/(?:(?:^|.*;\s*)DarkMode\s*\=\s*([^;]*).*$)|^.*$/, "$1") || '0';
            if (DarkMode == '0') {
                $("html").removeClass("DarkMode");
                $('#modeicon').attr("xlink:href", "#icon-_moon")
            } else if (DarkMode == '1') {
                $("html").addClass("DarkMode");
                $('#modeicon').attr("xlink:href", "#icon-sun")
            }
        }
    }
    BackTOP();
    checkNightMode();
</script>

<style>
    #RightDownBtn {
        position: fixed;
        right: 10rem;
        bottom: 23.5rem;
        padding: 0.3125rem 0.625rem;
        background: #fff;
        border-radius: 0.1875rem;
        transition: 0.3s ease all;
        z-index: 1;
        align-items: flex-end;
        flex-direction: column;
        display: -moz-flex;
        display: flex;
        float: right;
    }
    @media screen and (max-width:750px) {
        #RightDownBtn {
        position: fixed;
        right: 2rem;
        bottom: 6rem;
        padding: 0.3125rem 0.625rem;
        background: #fff;
        border-radius: 0.1875rem;
        transition: 0.3s ease all;
        z-index: 1;
        align-items: flex-end;
        flex-direction: column;
        display: -moz-flex;
        display: none;
        float: right;
    }
}
    #RightDownBtn>a,
    #RightDownBtn>label {
        width: 1.5em;
        height: 1.5em;
        margin: 0.3125rem 0;
        transition: .2s cubic-bezier(.25, .46, .45, .94);
    }

    /* font color */
    .DarkMode #page,
    .DarkMode #colophon,
    .DarkMode #vcomments .vbtn,
    .DarkMode .art-content #archives .al_mon_list .al_mon,
    .DarkMode .art-content #archives .al_mon_list span,
    .DarkMode body,
    .DarkMode .art-content #archives .al_mon_list .al_mon,
    .DarkMode .art-content #archives .al_mon_list span,
    .DarkMode button,
    .DarkMode .art .art-content #archives a,
    .DarkMode textarea,
    .DarkMode strong,
    .DarkMode a,
    .DarkMode p,
	.DarkMode li,
    .DarkMode .label {
        color: rgba(255, 255, 255, .6);
    }

	
    .DarkMode #page,
    .DarkMode body,
    .DarkMode #colophon,
    .DarkMode #main-container,
    .DarkMode #page .yya,
    .DarkMode #content,
    .DarkMode #contentss,
    .DarkMode #footer {
        background-color: #292a2d;
    }
    .DarkMode strong,
    .DarkMode img {
        filter: brightness(.7);
    }

    /* sun and noon */
    .Cuteen_DarkSky,
    .Cuteen_DarkSky:before {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 88888888
    }

    .Cuteen_DarkSky {
        background: linear-gradient(#feb8b0, #fef9db)
    }

    .Cuteen_DarkSky:before {
        transition: 2s ease all;
        opacity: 0;
        background: linear-gradient(#4c3f6d, #6c62bb, #93b1ed)
    }

    .DarkMode .Cuteen_DarkSky:before {
        opacity: 1
    }

    .Cuteen_DarkPlanet {
        z-index: 99999999;
        position: fixed;
        left: -50%;
        top: -50%;
        width: 200%;
        height: 200%;
        -webkit-animation: CuteenPlanetMove 2s cubic-bezier(.7, 0, 0, 1);
        animation: CuteenPlanetMove 2s cubic-bezier(.7, 0, 0, 1);
        transform-origin: center bottom
    }

    @-webkit-keyframes CuteenPlanetMove {
        0% {
            transform: rotate(0)
        }

        to {
            transform: rotate(360deg)
        }
    }

    @keyframes CuteenPlanetMove {
        0% {
            transform: rotate(0)
        }

        to {
            transform: rotate(360deg)
        }
    }

    .Cuteen_DarkPlanet:after {
        position: absolute;
        left: 35%;
        top: 40%;
        width: 9.375rem;
        height: 9.375rem;
        border-radius: 50%;
        content: "";
        background: linear-gradient(#fefefe, #fffbe8)
    }
</style>

<!-- left side bar.end -->
