.DarkMode
  .l_main
    #comments
      .vcards
        .vhead
          .vsys
            background:none
        .vcontent
          p
            color: rgb(136 136 136)
      .vinput
        color: #dbdbe2
      #valine_container
        .vwrap
          border: 1px dashed #fff
          .vemojis
            background:none
        .vcards
          p
            color: #ffffff7a
          .vcard
            border: 1px dashed #8a8a8a
          .vh
            .vcard
              border: none
      button
        background: #ffffffbd
    .post
      section
        .title
          a
            color: #dbdbe2
    .article
      .prev-next
        >a
          background: #444
  .widget
    background-color: #292a2d
    >.content
      ul
        >li
          a
            color: rgba(255, 255, 255, .6) !important
            &:hover
              color: rgb(99 203 252) !important
    header
      color: rgb(68 215 182)
      a
        color: rgb(68 215 182)
    a.newcomment
      color: #717171 !important
  .container
    background-color: #292a2d
    box-shadow: 0 1px 3px 0 rgba(6,6,6,.28)
  .white-box
    background-color: #292a2d

  .article
    code
      background: #f6f6f663 !important
      border: none
    blockquote
      background: #f6f6f663
    h3,h4,h5
      color: rgb(219 219 226)
  div.note
    background: #44444475 !important
  details
    border: none
    background:none
    >summary
      background: #444

  .l_header
    .m_search
      .input
        background-color: #292a2d
    .wrapper
      .title
        color: #dbdbe2
    .switcher
      >li >a
        color: #44d7b6 !important

  #archive-page
    .archive
      .archive-year
        h2
          color: #fff
      .archive_page
        .archive-post
          .title
            color: rgb(219 219 226)
    .all-categories
      time,.title
        color: #dbdbe2
  
  .btn-copy
    color: #fff !important
    background: #797a7c
  #RightDownBtn
    background: none
  h1
    color: rgb(219 219 226)
  ul.list-v
    background: rgb(41 42 45)

  .comments
    hr
      color: rgb(102 102 102)
    .article
      p[ct]
        color: #dbdbe2
  div.tabs
    background: rgb(102 102 102)
  .new-meta-item
    p
      color: #888 !important
  .highlight>table
      background: #282c34
  .gutter
    background: #282c34 !important
    background-color: #282c34 !important
  .highlight 
    figcaption
      background-color: #21252b
  .highlight
    border: 1px solid #21252b !important
    background: #282c34
    box-shadow: none
  .highlight pre .line, .highlight pre .params 
      color: rgba(158, 142, 142, 0.9)
  .highlight pre .comment
    color: #ffffffbd
  .cover-wrapper#half
    box-shadow:0px 10px 13px #182026
    -webkit-box-shadow:0px 10px 13px #182026
    -moz-box-shadow:0px 10px 13px #182026

  div.timenode .body
    background: #78787861
  article#comments hr
    background: #000

  .widget.blogger
    background: #333333
  
  .widget header.pure
    background: #000

  .widget header a 
    color: #999999
  
  .widget.tagcloud .content a 
    color: #999999 !important

  #RightDownBtn {
    background:  #999999
}

.l_side .toc-wrapper .toc-item.active>.toc-link {
    color: #FFCC99;
    border-left: 2px solid #ff6666;
}

.l_side .toc-wrapper a {
    padding-left: 8px;
    color: #ccccff;
    font-size: .875rem;
    display: inline-block;
}

.l_header 
   background: #222

.cover-wrapper.dock .menu .list-h a.active, .cover-wrapper.featured .menu .list-h a.active, .cover-wrapper.focus .menu .list-h a.active {
    background: #222;
    backdrop-filter: none;
}
.cover-wrapper.featured .menu .list-h a {
    background: #444;
    backdrop-filter: saturate(200%) blur(20px);
}



.aplayer {
    background: #423e3e;
    font-family: Arial,Helvetica,sans-serif;
    margin: 5px;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 7%), 0 1px 5px 0 rgb(0 0 0 / 10%);
    border-radius: 2px;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: normal;
    position: relative;
}

//播放器
.aplayer * {
    box-sizing: content-box
    background: #423e3e;
    color: #e9e9e9;
}
//播放器
.aplayer .aplayer-list ol li {
    position: relative;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    font-size: 12px;
    border-top: 1px solid #e9e9e9;
    cursor: pointer;
    transition: all .2s ease;
    overflow: hidden;
    margin: 0;
    color:#fcfefe;
}
//播放器
.aplayer .aplayer-list ol li.aplayer-list-light {
    background: #423e3e;
    color: #e9e9e9;
}
//播放器
.aplayer .aplayer-list ol li .aplayer-list-index {
    color: #e9e9e9;
    margin-right: 12px;
    cursor: pointer;
}


.widget>.content ul.entry a .badge, .widget>.content ul.popular-posts a .badge {
    flex: none;
    font-weight: 400;
    font-size: .875rem;
    color: #e9e9e9;
}

.webinfo .webinfo-item {
    display: block;
    padding: 4px 0 0;
    color: #999999;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
    color: #999999;
}

.widget header span.name {
    margin-left: 8px;
    color: #999999;
}

.l_main #comments button {
    background: rgba(34,34,34,.741);
}

article#tag .all-tags ul li {
    list-style: none;
    margin: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    position: relative;
    font-size: .9375rem;
    background: #999999;
}

article#arc h2:first-child, article#cat h2:first-child, article#tag h2:first-child {
    margin-top: 0;
    color: #fcfefe;
}

//文章字体颜色
.md h1, .md h2, .md h3, .md h4, .md h5, .md h6 {
    position: relative;
    pointer-events: none;
    margin-top: 0;
    font-weight: 500;
    line-height: 1.4;
    color: #aaaaaa;
}

//相册tabs背景
div.tabs ul.nav-tabs {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
    margin: 0!important;
    padding: 8px 8px 0 8px;
    background: #999999;
    border-radius: 4px 4px 0 0;
    line-height: 1.5;
}

//相册tabs背景
div.tabs ul.nav-tabs li.tab a {
    display: block;
    cursor: pointer;
    border-radius: 4px 4px 0 0;
    padding: 8px;
    text-align: center;
    font-size: .875rem;
    line-height: inherit;
    font-weight: 700;
    color: #111;
    border: 1px solid transparent;
}

.md .img-wrap .image-caption {
    display: block;
    margin: .75rem auto;
    font-size: .8125rem;
    color: #111;
}

//搜索框字体颜色
.l_header .m_search .input {
    background-color: #999999;
    color: #e9e9e9;
}

//notion card
.md .link-card {
    margin-right: 1em;
    background: #333333;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    text-align: center;
    width: 361px;
    max-width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    color:  #e9e9e9;
    border-radius: 8px;
}

//页面标题
.milky {
    font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
    font-size: 25px;
    letter-spacing: .1em;
    color: #333;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    background: #aaaaaa;
}

//主页推文时间，转载字体颜色
.meta-v3 {
    margin-top: 16px;
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #aaaaaa;
}
.meta-v3 .category-link {
    font-size: .875rem;
    color: #aaaaaa;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

//下一页跳转颜色
.l_main .prev-next section {
    color: #aaaaaa;
    padding: 16px;
    border-radius: 8px;
}

//文章开头meta颜色
.l_main .post .article-meta .new-meta-box .new-meta-item a, .l_main .post .article-meta .new-meta-box .new-meta-item p {
    color: #aaaaaa;
    padding: 3px 0;
}

hr {
    position: relative;
    margin: 2rem auto;
    width: calc(100% - 4px);
    border: 2px dashed #a4d8fa;
    background: #aaa;
}